In [24]:
from mceclib.preprocessing import *
from mceclib.jaccard import *
from mceclib.tfidf import *
from mceclib.bm25 import *

In [25]:
path= './data/'
columnas = ['Score', 'Title', 'Review']
df=pd.read_csv(path+'AmazonReview.zip', compression='zip', header=None, names=columnas)
df

,Score,Title,Review
0,2,Great CD,My lovely Pat has one of the GREAT voices of h...
1,2,One of the best game music soundtracks - for a...,Despite the fact that I have only played a sma...
2,1,Batteries died within a year ...,I bought this charger in Jul 2003 and it worke...
3,2,"works fine, but Maha Energy is better",Check out Maha Energy's website. Their Powerex...
4,2,Great for the non-audiophile,Reviewed quite a bit of the combo players and ...
...,...,...,...
399995,1,Unbelievable- In a Bad Way,We bought this Thomas for our son who is a hug...
399996,1,"Almost Great, Until it Broke...",My son recieved this as a birthday gift 2 mont...
399997,1,Disappointed !!!,"I bought this toy for my son who loves the ""Th..."
399998,2,Classic Jessica Mitford,This is a compilation of a wide range of Mitfo...
399999,1,"Comedy Scene, and Not Heard",This DVD will be a disappointment if you get i...

In [26]:
corpus_original = df["Review"].head(10000)

In [27]:
corpus_clean = corpus_original.apply(preprocessing2text)

In [28]:
corpus_clean

0       love pat one great voic gener listen cd year s...
1       despit fact play small portion game music hear...
2       bought charger jul work ok design nice conveni...
3       check maha energi websit powerex mhcf charger ...
4       review quit bit combo player hesit due unfavor...
                              ...
9995    wonder read poetri especi enjoy creativ imager...
9996    devic work well enough disappoint continu feed...
9997    daughter love six month old three week tire pu...
9998    purchas item month old babi love entertain kep...
9999    daughter start enjoy around month though littl...
Name: Review, Length: 10000, dtype: object

In [29]:
corpus_clean_tokenized = corpus_clean.apply(tokenize_text)

# Jacard
* corpus_clean_tokenized
* corpus_original

In [38]:
query_jacard = "daughter spiderman"

In [39]:
result_jacard = search_jaccard(query_jacard, corpus_clean_tokenized, corpus_original)

In [40]:
result_jacard

      doc_index                                            reviews    scores
0          3746  My daughter loves all the Spiderman movies and...  0.200000
1          7670  my daughter loves this clock. She's 7 and want...  0.125000
2          3464  my daughter and I love this movie. we have bee...  0.111111
3          1158  We Liked the swaddlers. Now that my daughter i...  0.090909
4          4076  My daughter requested these for Christmas. She...  0.090909
...         ...                                                ...       ...
9995       9979  After hearing the debut album from Fischer's l...  0.000000
9996       9980  Yeah... since there's not much to say except i...  0.000000
9997       9981  I did not receive the product. They do seem li...  0.000000
9998       9982  This 3-D adventure is truly for children, from...  0.000000
9999       9983  I have four kids and usually wouldn't make the...  0.000000

[10000 rows x 3 columns]

# TF-IDF
* corpus_clean
* corpus_original

In [41]:
query_tfidf = "daughter spiderman"

In [42]:
matriz_tfidf, vectorizer = build_tfidf(corpus_clean)

In [43]:
result_tfidf = search_tdifd(query_tfidf, vectorizer, matriz_tfidf, corpus_original)

In [44]:
result_tfidf

      doc_index                                            reviews    scores
0          3746  My daughter loves all the Spiderman movies and...  0.625028
1          3744  Spiderman was good, but I liked the first spid...  0.591018
2          3740  I did not like Spiderman 2 at all (...)! It wa...  0.499288
3          3734  I thought it was slow and predictable. Tobey w...  0.497236
4          1877  It contains a lot of action. However, it does ...  0.346461
...         ...                                                ...       ...
9995       9979  After hearing the debut album from Fischer's l...  0.000000
9996       9980  Yeah... since there's not much to say except i...  0.000000
9997       9981  I did not receive the product. They do seem li...  0.000000
9998       9982  This 3-D adventure is truly for children, from...  0.000000
9999       9983  I have four kids and usually wouldn't make the...  0.000000

[10000 rows x 3 columns]

# BM25
* corpus_clean_tokenized
* corpus_original

In [45]:
query_bm25 = "daughter spiderman"

In [46]:
bm25_model = build_bm25_model(corpus_clean_tokenized)

In [47]:
result_bm25 = search_bm25(query_bm25, bm25_model, corpus_original)

In [48]:
result_bm25

      doc_index                                            reviews     scores
0          3746  My daughter loves all the Spiderman movies and...  16.088099
1          3744  Spiderman was good, but I liked the first spid...  12.243557
2          3740  I did not like Spiderman 2 at all (...)! It wa...  12.021721
3          3734  I thought it was slow and predictable. Tobey w...  10.935560
4          1877  It contains a lot of action. However, it does ...   9.615786
...         ...                                                ...        ...
9995       9979  After hearing the debut album from Fischer's l...   0.000000
9996       9980  Yeah... since there's not much to say except i...   0.000000
9997       9981  I did not receive the product. They do seem li...   0.000000
9998       9982  This 3-D adventure is truly for children, from...   0.000000
9999       9983  I have four kids and usually wouldn't make the...   0.000000

[10000 rows x 3 columns]